*.EDZ
*.dep
*.Bak
*.scvd
*.txt
*.ini
*.crf
*.lst
*.map
*._ia
*.__i
*.ld
*.o
*.choulei
*.Leige
*.uvoptx
*.uvprojx
*.dep
*.bak
*.Bak
*.scvd
*.txt
*.ini
*.crf
*.d
*.axf
*.html
*.hex
*.htm
*.lnp
*.sct
*.map
*.lst
*.lock
*.yml
*.zip
*.rar
*.pdf
*.log
*.iex
*.Lenovo